.position svg {
  position: absolute;
  color: var(--light-gray);

}


.animated-icons__square svg {
  font-size: 200px;
  left: -10%;
  bottom: -10%;
  z-index: 3 !important;
  animation: rotate 10s linear infinite;

}



.animated-icons__close svg {
  bottom: 30%;
  right: 10%;
  animation: rotate-x 10s linear infinite;
  font-size: 30px;
}

.animated-icons__gray-bar {
  position: absolute;
  border: 10px solid var(--primary-font-color);
  height: 40%;
  width: 50%;
  top: -10%;
  right: -25%;
  transform: rotate(-20deg);
  border-bottom-left-radius: 300px;
  border-top-left-radius: 300px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



@keyframes rotate-x {

  0%,
  100% {
    transform: rotate(0deg);
  }

  40%,
  60% {
    transform: rotate(360deg);
  }
}





@media (max-width:768px) {
  .animated-icons__square svg {
    font-size: 150px;

  }
}