.auth-forms {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.auth-forms h3 {
  text-transform: uppercase;
  font-weight: bold;
}


.auth-forms .clickoutside-container {
  width: 100%;
}

.auth-forms .select-menu .select-menu__header span {
  font-size: 10px !important;
}