.common-button {

  font-weight: bold;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 16px;
  text-transform: capitalize;
}

.common-button:focus {
  box-shadow: none !important;
}

.common-button svg {
  margin-left: 10px;
}

button.btn {
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.common-button:focus {
  box-shadow: none;
  outline: none;
  color: var(--background-color);
}

.common-button.btn-primary {
  transition: all 0.5s;
  color: var(--light-gray);
  background-color: var(--background-color);
  border-color: var(--light-gray);
}

.common-button.btn-primary:hover {
  color: var(--background-color);
  background-color: inherit;
  border-color: var(--background-color);
  text-emphasis: center;

}

.common-button.btn-secondary {
  transition: all 0.5s;
  color: var(--background-color);
  background-color: inherit;
  border-color: var(--background-color);
  text-emphasis: center;

}

.common-button.btn-secondary:hover {
  color: var(--light-gray);
  background-color: var(--background-color);
  border-color: var(--light-gray);
}

.common-button.btn-primary:visited {
  color: initial;
  background-color: var(--white);
  border-color: var(--blue);
}

@media (max-width:992px) {


  .common-button>div {
    font-size: 15px;
  }
}

@media (max-width:768px) {


  .common-button>div {
    font-size: 12px;
  }
}