.off-canvas {
  position: fixed;
  bottom: 0;
  top: 0;
  right: -100%;
  left: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background-color: var(--white);
  overflow-y: scroll;
  transition: all 0.3s ease-in-out;
  border-left: 1px solid var(--light-gray);
  color: var(--black)
}

.canvas-header {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid var(--light-gray);
}

.canvas-header svg {
  cursor: pointer;
}

.off-canvas.open {
  opacity: 1;
  right: 0%;
  left: 0;
}

.off-canvas svg {
  font-size: 16px !important;
  margin-left: 0 !important;
}

.canvas-list {
  border-bottom: 1px solid var(--light-gray);
  border-top: 1px solid var(--light-gray);
  justify-content: center;
  align-items: center;
  display: flex;
}



.canvas-list span {
  margin-left: 5px;
}

.canvas-list:hover {
  color: var(--black);
  cursor: pointer;
}

.off-canvas .canvas-list:last-child {
  border-bottom: 0;
}

.off-canvas .canvas-list:first-child {
  border-top: 0;
}





@media (max-width:768px) {


  .off-canvas span {
    font-size: 14px !important;
  }
}