.event-page.arabic .first-event-section,
.event-page.arabic .organizer,
.event-page.arabic .event-footer {
  direction: rtl;
  text-align: right;
}

.event-page.arabic .carousel .carousel-status {
  direction: ltr !important;
}





.about-event__description {
  padding: 15px;
  max-width: 100%;
  white-space: normal;
  word-wrap: break-word
}

.event-info {
  border-radius: 10px;
  border: 1px solid var(--white);
  color: var(--white);
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

.event-info__icon {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
}

.event-info__icon.arabic-border {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.event-info__data {
  font-size: 11px;
}

.event-info:hover {
  border: 1px solid var(--black);
}



.first-event-section {
  height: 87.4vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  align-items: center;
  font-weight: bold;
  position: relative;
  color: var(--white);
}



.first-event-section__blur-background {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--black);
  opacity: 0.6;
}

.event-page {
  overflow-x: hidden;
}

.orgnaizers {
  display: flex;
  align-items: center;

}

.about-event-section {
  position: relative;
}

.event__about-image {
  margin: 5px 0;
  border-radius: 5px;
  width: 99%;
}

.first-event-section h4,
.about-event-section h3 {
  font-weight: bold;
  text-transform: uppercase;

}

.first-event-section span {
  margin: 0 5px;
}



.about-event-section .clickoutside-container {
  width: 100%;
}

.event-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.event-room .event-room__name {
  font-weight: bold;
  text-align: center;
}

.event-room img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 10px 0;
}

.event-hover {
  font-size: 14px;
  font-weight: 300 !important;
}

.event-room .event-room__description {
  background-color: var(--white);
  opacity: 0;
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  height: 0;
  padding: 25px 10px;
  overflow-y: auto;
}



.event-room:hover .event-room__description {
  bottom: 0%;
  opacity: 0.95;
  max-height: 100%;
  height: 100%;
}

.event-section-name {
  font-weight: bold;
  text-transform: capitalize;
}

.event-room__description-text {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;

}

.event-section-name::after {
  display: block;
  content: "";
  background-color: var(--black);
  height: 5px;
  width: 50%;
  border-radius: 5px;
  margin: 10px auto;
}

.organizer-container img {
  border-radius: 25px;
}

.organizer-container {
  border-radius: 10px;
  overflow: hidden;
  color: var(--white);
}



.organizer-description {
  font-size: 14px;
  padding-bottom: 8px;
}

.organizer-name {
  font-weight: bold;
}

.organizer-name-description {
  margin-right: 5px;
}

.event-sponsors img {
  height: 180px;
  width: 180px;

}

.event-footer {

  min-height: 40vh;

}

.event-footer svg {
  font-size: 16px;
}

.event-footer img {
  max-width: 60%;
  max-height: 18vh;
  cursor: pointer;
}

.event-footer h6 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 17px;
}

.event-location,
.event-time {
  margin: 0 5px;
}

.event-page-link {
  font-weight: 400;
  cursor: pointer;
}

.event-page-link:hover {
  text-decoration: underline;
}

.event-spinner {
  background-color: var(--light-gray);
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}



.event-header button.btn {
  border-radius: 50px;
  font-size: 14px;
  padding: 8px 19px;
  width: initial;
  margin-right: 5px;

}

.event-footer-section button.common-button {
  padding: 8px 3px !important;
  font-size: 12px;
}

.event-footer_title {
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width:992px) {
  .organizer-container img {
    margin: 0 auto;
    display: block;
  }

}



.event-footer .event-info__data {
  font-weight: bold;
}



@media (max-width:992px) {



  .event-footer .event-info {
    font-size: 11px;
    width: 100%;
  }

}

@media (max-width:768px) {
  .organizer-name {
    font-size: 18px !important;
  }

  .first-event-section,
  .event-footer {
    font-size: 12px;
  }


  .first-event-section h4 {
    font-size: 18px !important;
  }

  .event-button {
    display: none;
  }

  .event__about-image {
    margin: 5px 0;
  }



}

@media (max-width:600px) {
  .event-sponsors img {
    height: 150px;
    width: 150px;
  }



  .first-event-section h4,
  .about-event-section h3 {
    font-size: 20px;
  }

  .event-time,
  .event-location,
  .event-page-link {
    font-size: 12px !important;
  }
}