.event-form button {
  padding: 5px 5px !important;
}

.event-form .select-menu {
  margin: 0;
}



.event-form .select-menu__header,
.event-form .common-input,
.event-form textarea,
.event-form .no-auto-bg:-webkit-autofill {
  border: 1px solid var(--disabled-color) !important;

  color: var(--black);
  background-color: var(--disabled-color) !important;
}

.event-form .no-auto-bg:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 0 red !important
}

.event-form .common-input::placeholder {
  color: var(--black) !important
}

.event-form .common-input::-moz-placeholder {
  color: var(--black) !important
}

.event-form .clickoutside-container {
  width: 100%;
}

.event-form .select-menu__options {
  background-color: var(--disabled-color) !important;
}



.event-form .select-menu__header,
.event-form .select-menu__options {
  border-radius: 0.2rem;
  font-weight: 400;
  font-size: 14px;
}

.event-form .select-menu__option {
  color: var(--black);
}