.back-btn {
  color: var(--secondary-font-color);
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.back-btn:hover {
  color: var(--black);
}

.back-btn::before {
  content: "<";
  display: inline-block;
  margin: 0 5px;
}