.header {
  background-color: var(--light-gray);
  color: var(--primary-font-color);
  align-items: center;
  font-weight: bold;
  height: 13.6vh;
  min-height: 80px;
  min-height: 80px;
  position: sticky !important;
  top: 0;
  z-index: 10;
  font-size: 14px !important;
}


.header img {
  max-width: 100%;
  max-height: 12vh;
  cursor: pointer;

}


.burger-icon {
  display: none;
}

.header .select-menu .select-menu__header {
  border: 1px solid var(--primary-font-color);
}

.header .select-menu .select-menu__header span {
  font-size: 14px;
  margin: 0 2px;
}

.header .select-menu__options {
  box-shadow: var(--box-shadow);
}

.header .select-menu {
  margin-right: 10px;
  font-size: 13px;
}

.header svg:last-child {
  margin-right: 5px;
  cursor: pointer;
}

.nav-link {
  padding: 8px 10px !important;
}

.nav-link {
  display: block;
}


@media (max-width:992px) {
  .burger-icon {
    display: block;
  }

  .navbar {
    display: none !important;
  }
}



@media (max-width:600px) {


  .header .select-menu .select-menu__header span {
    font-size: 11px;

  }

  .header .select-menu__header {
    padding: 5px 10px;
  }
}

@media (max-width:300px) {


  .header .select-menu__header {
    padding: 5px 5px;
  }

}