@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap&family=Barlow:wght@300&family=Cairo&family=Estonia&family=Montagu+Slab:wght@500;700&family=Nunito:wght@200&family=Playfair+Display&family=Poppins:wght@200;300&family=Road+Rage&family=Roboto+Mono:wght@100&family=Roboto:wght@900&family=Rubik:wght@300&family=Tilt+Prism&family=Work+Sans:wght@500&display=swap');

:root {
  --background-color: #345fae;
  --primary-font-color: #345fae;
  --font-color: #212529;
  --disabled-color: #e9ecef;
  --secondary-font-color: #7093d2;
  --white: #ffffff;

  --light-gray: #f7f7f7;
  --black: #000000;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;

  --text-direction: ltr;
  --header_background_color: #F1F1F1;
  --header_text_color: #292929;
  --footer_background_color: #222023;
  --footer_background_color_2: #1e2c47;
  --footer_text_color: #fff;
  --primary_button_background_color: #ed1b24;
  --primary_button_background_color_2: #1c376c;
  --primary_button_text_color: #fff;
}

.App {
  font-family: 'Amiri',
    serif;

}


*::-webkit-scrollbar {
  display: none;
}

.event-spinner {
  background-color: var(--light-gray);
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px) {
  h3 {
    font-size: 22px !important;
  }

  h5 {
    font-size: 18px !important;
  }

  p,
  h6 {
    font-size: 15px !important;
  }

}