.details-container {
  border: 2px solid var(--light-gray);
  border-radius: 10px;
}

.data-title {
  color: var(--primary-font-color);
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.details-container.ar {
  text-align: start;
}

.sec-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.sec-title::after {
  display: block;
  content: "";
  background-color: var(--black);
  height: 5px;
  width: 50%;
  border-radius: 5px;
  margin: 10px auto;
}

.badges-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.badges-container img {
  height: 50px;
  width: 50px;
}

.badges-container p {
  font-size: 14px;
  font-weight: bold;

}

.edit-form {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.edit-form label {
  font-size: 12px;
  font-weight: bold;
}

.edit-form .select-menu__options.open {
  max-height: 200%;
}

.pimage-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 120px;
  width: 120px;
}

.pimage-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--light-gray);
  color: var(--primary-font-color);
  border: 1px solid var(--primary-font-color);
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  right: 5px;
  bottom: 0;
  overflow: hidden;
}

.pimage-container img {
  border: 1px solid var(--primary-font-color);
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.pimage-picker svg {
  z-index: 10;
}

.pimage-picker input {
  position: absolute !important;
  height: 100px !important;
  width: 100px !important;
  margin-left: -49px;
  margin-bottom: -70px !important;
  cursor: pointer !important;
  opacity: 0;
  z-index: 15;
}

@media (max-width:768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}