.carousel .slide {

  display: flex !important;
  align-items: center !important;
  margin: 2rem 0 !important;
  width: 100%;
  text-align: inherit !important;
}

.carousel .control-dots .dot {

  background: var(--white) !important;
}

.carousel .control-dots {
  top: 0 !important;
  bottom: initial !important;
  margin: 0 !important;
  color: var(--white) !important;
}

.carousel .carousel-status {
  color: var(--white) !important;
  font-size: 11px !important;
}

.carousel.carousel-slider .control-arrow:hover {
  background-color: initial !important;

}

.carousel .control-next.control-arrow:before {
  border-left-color: var(--white) !important;
}

.carousel .control-prev.control-arrow:before {
  border-right-color: var(--white) !important;
}

.carousel .control-prev.control-arrow {
  left: -11px !important;
}

.carousel .control-next.control-arrow {
  right: -11px !important;
}