table {
  font-size: 14px !important;
  width: 98% !important;
  margin: 0 auto;
}

table img {
  height: 150px;
  width: 150px;
  margin: 10px 0 !important;
  border-radius: 10px;
}

thead {
  border-radius: 10px !important;
  width: 100%;
  border-bottom: 3px solid var(--light-gray);
}



td .row {
  justify-content: center !important;
}






td,
th {
  text-align: center !important;
  vertical-align: middle !important;
  padding: 13px 5px !important;

}


tbody tr {
  border-bottom: 3px solid var(--light-gray);
}

tbody tr:last-child {
  border-bottom: 0;
}





@media (max-width:992px) {
  table {
    width: 100%;
  }

}

@media (max-width:768px) {
  table {
    font-size: 9px !important;
  }

  table img {
    height: 50px;
    width: 50px;
  }

}